attr-utils>=0.5.4
attrs>=20.2.0
cawdrey>=0.2.0
chemistry-tools[formulae]>=0.4.0
domdf-python-tools>=0.4.9
enum-tools>=0.6.1
lxml>=4.6.0
numpy>=1.19.4
pandas>=1.1.3
sdjson>=0.3.0
typing-extensions>=3.7.4.3
